.flashCardContainer {
    margin-top: 1em;
}

.flashCard {
    border: solid;
    border-color: black;
    padding: 1em;
    margin-bottom: 1em;
}

.flashCardQuestionShowing {
    background-color: lightblue;
}

.flashCardHiddenSide {
    display: none;
}
