.flashCardManagementContainer {
    background-color: #FADCD9;      /* Rose Quartz */
    text-align: left;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    overflow: hidden;               /* This is needed to prevent the child DIVs from overlapping each other */
    position: relative;             /* This is needed to get the delete icon to align vertically; see .deleteButton below */
}

.flashCardQAndA {
    /* These are needed to build in room visually for the delete button on the right side of each DIV */
    width: 80%;
    float: left;
}
.deleteButton {
    /* This forces the delete button to appear on the right side of the flashcard DIV. */
    float: right;
    /* This next group of styles, in conjunction with the flashCardManagementContainer class' "position: relative",
        is required to get the delete icon to align vertically within the parent */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    justify-content: center;
    align-content: center;
}

.deleteButton button {
    border: 0px;
    background: transparent;
}



.addFlashCardForm {
    background-color: #FADCD9;
    margin-bottom: 20px;
    padding: 1em 0 1em 0;
}

.formInstructionsText {
    text-align: right;
    padding-right: 5%;
    font-style: italic;
}

.inputLabel {
    text-align: left;
    padding-left: 5%;
    font-weight: 700;
}
.formTextArea {
    width: 90%;
    max-width: 90%;
}